[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupyter = "*"
scrapy-gui = "*"
ipython = "*"
pbr = "*"

[packages]
bibtexparser = "*"
pylatexenc = "*"
pandas = "*"
scholarly = "*"
scrapy = "*"
requests = "*"

[requires]
python_version = "3.8"
